body {
    font-family: Futura, Helvetica,"Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    letter-spacing: 0.5px;
}
#header {
    background: #3867de !important;
}

caption, .breadcrumbs, .module h2 {
    background: #4c7aee !important;
}

#header a {
    color: #f3c281 !important;
}

caption a, #content-related .module h2, .breadcrumbs a {
    color: #a5e1f6 !important;
}

.deletelink-box a {
    color: #FFFFFF !important;
}

a {
    color: #4187e0 !important;
}

.submit-row .default {
    background: #36c203!important;
}

.submit-row input {
    background: #268306 !important;
}
