body {
    background: #efefef;
    font-family: Rubik, Helvetica,"Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    /*letter-spacing: 0.5px;*/
}
/*.navbar {*/
/*    background: #4fef87 !important;*/
/*}*/
/*.btn-primary, .btn-outline-primary {*/
/*    background: #4fef87 !important;*/
/*    border-color: #4fef87;*/
/*    outline-color: #4fef87;*/
/*    color: #212529;*/
/*}*/
/*.btn-primary{color:#212529;background-color:#4fef87;border-color:#4fef87}*/
/*.btn-primary:hover{color:#212529;background-color: #48d77a;border-color:#48d77a}*/
/*.btn-check:focus+.btn-primary,.btn-primary:focus{color:#212529;background-color:#4fef87;border-color:#4fef87;box-shadow:0 0 0 .25rem rgba(55, 180, 98, 0.85) !important*/
/*}*/
/*.form-field {*/
/*    padding: 0 20% !important;*/
/*}*/

.errorlist {
    color: red;
}

.card-body {
    overflow-x: scroll !important;
}

/*.btn-outline-primary:hover {*/
/*    background: #3b50d7 !important;*/
/*    border-color: #3b50d7 !important;*/
/*}*/

.col-md-4.d-flex img{
    object-fit: cover;
    max-height: 250px;
    width: 100%;
}
a {
    text-underline-offset: 3px;
}

.detail_profile {
    max-height: 515.4px;
    object-fit: cover;
}

.list-group-item {
    border-color: transparent;
}

.form-control, .btn, .card, .card-body, .modal-content {
    border-radius: 10px;
}

.card-header {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}
/*.card {*/
/*    */
/*}*/

.rounded {
    border-radius: 10px !important;
}

.rounded-start {
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}

.circle {
    border-radius: 50%;
    object-fit: cover;
}
.pill {
    border-radius: 50%;
    /*line-height: 100%;*/
}
.card-img {
    max-width: 40%;
}
.modal-dialog {
    max-width: 600px;
}
.modal-content {
    background: transparent;
}
.modal-body {
    padding: 0;
}

.bi-chat-text {
    position: relative;
    bottom: 1px
}
/*.scale{*/
/*    transform: scale(200%);*/
/*}*/

.justify-self-left {
    justify-self: left !important;
}
