{% extends 'base.html' %}

{% block global_title %}
{% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block title %}
<h1>Главная</h1>
{% endblock %}

{% block main_part %}
<a href="{% url 'product_list' %}">All</a>
{% for c in categories %}
<li><a href="{{ c.get_absolute_url }}">{{ c.name }}</a></li>
{% endfor %}

<div>
    <h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>
    {% for product in products %}
    <div>
        <a href="{{ product.get_absolute_url }}"></a>
        <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
        ${{ product.price }}
    </div>
    {% endfor %}
</div>
{% endblock %}